<h1>My Address Book</h1>

<%=link_to("Add Contact", home_path)%>


<div style="margin-bottom: 20px;">
	<% ("A"..."Z").each do |letter| %>
		<a href class="ltrs"><%=letter%></a>
	<% end %>
</div>



<div class="list-container" id="container">
	<div class="list-index">
		<% @contacts.each do |person| %>
			<ul>
				<li class="people" id="people">
					<%= link_to("#{person.name}", contacts_id_path(person.id)) %>
				</li>
			</ul>
		<% end %>
	<div>
</div>


