body {
	font-size: 18px;
	color: #333;
	background-color: #eee;
}
h1 {
	font-size: 48px;
	margin-bottom: 20px;
	font-family: "Georgia", Serif;
}
h2 {
	font-size: 40px;
	font-family: "Georgia", Serif;
}
h3 {
	font-size: 32px;
	font-family: "Georgia", Serif;
}
h4 {
	font-size: 24px;
	font-family: "Georgia", Serif;
}
h5 {
	font-size: 16px;
	font-family: "Georgia", Serif;
}
h6 {
	font-size: 8px;
	font-family: "Georgia", Serif;
}
a:visited {
	color: #333;
}
a:active {
	color: #33;
}
a {
	color: #333;
}
ul {
	list-style-type: none;
}
.addy-box {
	margin: 20px auto 0;
	float: none;
	border-radius: 10px;
	background-color: #BD8D46;
	padding: 5px 15px;
}
header {
	text-align: center;
}
.letter-btns {
	padding: 0px 6px;
	font-size: 18px;
}
li.people {
	margin-bottom: 10px;
}







